@import "tailwindcss";


.logo-light {
  display: block;
}
.logo-dark {
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root:not(.light) .logo-light {
    display: none;
  }
  :root:not(.light) .logo-dark {
    display: block;
  }
}


html.dark .logo-light {
  display: none !important;
}
html.dark .logo-dark {
  display: block !important;
}
